In [27]:
import pandas as pd
import numpy as np
import requests
from full_fred.fred import Fred

In [33]:
# Set api key in imported package
fred = Fred('api_key.txt')
fred.get_api_key_file()
# Confirm
fred.set_api_key_file('api_key.txt')

True

In [35]:
# Fethcing data
fred.get_series_df('MEHOINUSA672N')

   realtime_start realtime_end        date  value
0      2021-06-11   2021-06-11  1984-01-01  52679
1      2021-06-11   2021-06-11  1985-01-01  53664
2      2021-06-11   2021-06-11  1986-01-01  55597
3      2021-06-11   2021-06-11  1987-01-01  56261
4      2021-06-11   2021-06-11  1988-01-01  56725
5      2021-06-11   2021-06-11  1989-01-01  57705
6      2021-06-11   2021-06-11  1990-01-01  56966
7      2021-06-11   2021-06-11  1991-01-01  55302
8      2021-06-11   2021-06-11  1992-01-01  54874
9      2021-06-11   2021-06-11  1993-01-01  54581
10     2021-06-11   2021-06-11  1994-01-01  55215
11     2021-06-11   2021-06-11  1995-01-01  56945
12     2021-06-11   2021-06-11  1996-01-01  57772
13     2021-06-11   2021-06-11  1997-01-01  58961
14     2021-06-11   2021-06-11  1998-01-01  61128
15     2021-06-11   2021-06-11  1999-01-01  62641
16     2021-06-11   2021-06-11  2000-01-01  62512
17     2021-06-11   2021-06-11  2001-01-01  61126
18     2021-06-11   2021-06-11  2002-01-01  60435
19     2021-06-11   2021-06-11  2003-01-01  60360
20     2021-06-11   2021-06-11  2004-01-01  60150
21     2021-06-11   2021-06-11  2005-01-01  60794
22     2021-06-11   2021-06-11  2006-01-01  61268
23     2021-06-11   2021-06-11  2007-01-01  62090
24     2021-06-11   2021-06-11  2008-01-01  59877
25     2021-06-11   2021-06-11  2009-01-01  59458
26     2021-06-11   2021-06-11  2010-01-01  57904
27     2021-06-11   2021-06-11  2011-01-01  57021
28     2021-06-11   2021-06-11  2012-01-01  56912
29     2021-06-11   2021-06-11  2013-01-01  58904
30     2021-06-11   2021-06-11  2014-01-01  58001
31     2021-06-11   2021-06-11  2015-01-01  60987
32     2021-06-11   2021-06-11  2016-01-01  62898
33     2021-06-11   2021-06-11  2017-01-01  63761
34     2021-06-11   2021-06-11  2018-01-01  64324
35     2021-06-11   2021-06-11  2019-01-01  68703

In [26]:
key = '97fa80a3e1524e907ae7f69b98506b52'

parameters = {
    api_key: key
}

api_url = f'https://api.stlouisfed.org/fred/series/categories?series_id=EXJPUS&api_key={key}&file_type=json'

data = requests.get(url=api_url).json()
data

{'categories': [{'id': 95, 'name': 'Monthly Rates', 'parent_id': 15},
  {'id': 275, 'name': 'Japan', 'parent_id': 158}]}